/*Entire Page */
*{
    scroll-behavior: smooth;
    
}

/* Scoll Indicator */
.header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: #f1f1f1;
}
.progress-container {
    width: 100%;
    height: 2px;
    background: black
}
.progress-bar {
    height: 2px;
    background: linear-gradient(85deg, white 10%, red 100%);
    width: 0%;
}

/* Navbar */
.nav a{
    color: red;
}
.navbar-nav{
    text-align: right;
}
.dropdown-menu{
    text-align: right;
}
.dropdown-item:hover{
    color: red;
    transition: 300ms;
}
.nav-link:hover{
    background: linear-gradient(185deg, white 10%, gold 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: red;
    transition: 500ms;
}

/* Home Page */
.zoom{
    display: flex;
    text-align: center;
    min-height: 100vh;
    width: 100%;
    background-image: url(./images/background-img9.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    align-items: center;
    justify-content: center;
    margin: 0;
}
.home-container-text{
    position: absolute;
}
.home-container-text h1{
    font-size: 90px;
    position: relative;
    top: -55px;
    background: linear-gradient(185deg, gold 10%, white 70%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    
}
.home-container-text h2{
    font-size: 40px;
    position: relative;
    top: -60px;
    background: linear-gradient(185deg, gold 10%, white 70%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

/* Sub Home Page */
.services-container-text{
    min-height: 60vh;
    align-items: center;
    background-color: black;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    transition: 1.0s;
}
.services-container-text h1{
    font-weight: lighter;
    color: red;
    font-size: 40px;
}
.service-box{
    text-align: center;
}
.fade-in{
    opacity: 0;
    transition: opacity 600ms ease-in;
}
.fade-in.appear{
    opacity: 1;
}

/* About Page */
.about-container{
    display: flex;
    text-align: center;
    min-height: 70vh;
    width: 100%;
    background-image: url(./images/ncat4.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    align-items: center;
    margin: 0;
}
.about-container-text{
    background-color: rgba(0,0,0,0.6);
}
.about-container-text p{
    font-size: 30px;
    color: white;
}
.about-container-text h1{
    font-size: 60px;
    color: white;
}

/* Carousel */
.img-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
    max-width: 600px;
    flex-shrink: 60;
}
.carousel-inner img {
    height: 600px;
    width: 100%;
    object-fit: contain;
}
.image-box{
    margin: 0;
    padding: 0;
    max-width: 600px;
    margin-left: 40px;
}

.image-box-switch{
    margin: 0;
    padding: 0;
    max-width: 600px;
    margin-right: 40px;
}

.carousel-caption{
    background-color: rgba(0,0,0,0.2);
}

/* Cleaning Page */
.cleaning-container{
    min-height: 100vh;
    background-image: url(./images/background-img9.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}
.cleaning-container-background{
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
}
.cleaning-container-text{
    display: flex;
    min-height: 100vh;
    align-items: center;
    background-color: transparent;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    
    
}
.cleaning-content-box{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(185deg, white 25%, gold 100%);
    height: 600px;
    max-width: 600px;
    margin-right: 40px;
    flex-shrink: 60;
    
}
.cleaning-content-box h1{
    font-size: 50px;
}
.cleaning-content-box p{
    font-size: 30px;
}
.from-left{
    transform: translateX(-50%);
    grid-column: 2 / 3;
}
.from-right{
    transform: translateX(50%);
    grid-column: 3 / 4;
}
.from-left, .from-right{
    transition: opacity 500ms ease-in, transform 500ms ease-in;
    opacity: 0;
}
.from-left.appear, .from-right.appear{
    transform: translateX(0);
    opacity: 1;
}

/* Suede/Mesh Page */
.mesh-container{
    min-height: 100vh;
    background-image: url(./images/background-img9.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}
.mesh-container-background{
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
}
.mesh-container-text{
    display: flex;
    min-height: 100vh;
    align-items: center;
    background-color: transparent;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row-reverse;
}
.mesh-content-box{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(185deg, white 25%, gold 100%);
    height: 600px;
    max-width: 600px;
    margin-left: 40px;

    
}
.mesh-content-box h1{
    font-size: 50px;
}
.mesh-content-box p{
    font-size: 30px;
}

/* Ugg Page */
.uggs-container{
    min-height: 100vh;
    background-image: url(./images/background-img9.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}
.uggs-container-background{
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
}
.uggs-container-text{
    display: flex;
    min-height: 100vh;
    align-items: center;
    background-color: transparent;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}
.uggs-content-box{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(185deg, white 25%, gold 100%);
    margin-right: 40px;
    height: 600px;
    max-width: 600px;
    
}
.uggs-content-box h1{
    font-size: 50px;
}
.uggs-content-box p{
    font-size: 30px;
}

/* Ice Page */
.ice-container{
    min-height: 100vh;
    background-image: url(./images/background-img9.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}
.ice-container-background{
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
}
.ice-container-text{
    display: flex;
    min-height: 100vh;
    align-items: center;
    background-color: transparent;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row-reverse;
}
.ice-content-box{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(185deg, white 25%, gold 100%);
    margin-left: 40px;
    height: 600px;
    max-width: 600px;
    
}
.ice-content-box h1{
    font-size: 50px;
}
.ice-content-box p{
    font-size: 30px;
}

/* Glue Page */
.glue-container{
    min-height: 100vh;
    background-image: url(./images/background-img9.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}
.glue-container-background{
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
}
.glue-container-text{
    display: flex;
    min-height: 100vh;
    align-items: center;
    background-color: transparent;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}
.glue-content-box{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(185deg, white 25%, gold 100%);
    margin-right: 40px;
    height: 600px;
    max-width: 600px;
    
}
.glue-content-box h1{
    font-size: 50px;
}
.glue-content-box p{
    font-size: 30px;
}

/* Custom Page */
.customization-container{
    min-height: 100vh;
    background-image: url(./images/background-img9.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}
.customization-container-background{
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
}
.customization-container-text{
    display: flex;
    min-height: 100vh;
    align-items: center;
    background-color: transparent;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row-reverse;
}
.customization-content-box{
    display: flex;
    text-align: center;
    align-items: flex-start;
    justify-content: center;
    background-image: linear-gradient(185deg, white 25%, gold 100%);
    margin-left: 40px;
    height: 600px;
    max-width: 600px;
}
.customization-content-box h1{
    font-size: 50px;
}
.customization-content-box p{
    font-size: 30px;
}
form{
    max-height: 600px;
    position: relative;
    top: 200px;
}
    
.title{
    position: absolute;
}

label{
    font-size: 20px;
}

/* Contact Page */
.contact-container{
    display: flex;
    text-align: center;
    min-height: 80vh;
    width: 100%;
    background-image: url(./images/atlanta-background-3.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    align-items: center;
    margin: 0;
}

.contact-container-text{
    background-color: rgba(0,0,0,0.8);
    height: 60vh;
    width: 100vh;
}
.contact-container-text h1{
    font-size: 60px;
    color: white;
}
.contact-form{
    top: 10px;
}
#contact-form-text{
    height: 20vh;
    width: 70vh;
    margin: 0 auto;
    background-color: transparent;
    color: white;
}
.contact-btn{
    margin-top: 15px;
}
.contact-container-text h2{
    font-size: 27px;
    color: white;
    margin-top: 35px;
}
.instagram-box{
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
}
.instagram-item{
    display: flex;
    height: 10vh;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.instagram-item a{
    color: red;
    text-decoration: none;
    font-size: 17px;
}

@media (min-width: 1101px) and (max-width: 1500px) {
    
}

/********** Medium devices only **********/
@media (min-width: 769px) and (max-width: 1300px) {
    /* Home */
    .home-container-text h1 {
    font-size: 70px;
    }

    .home-container-text h2{
    font-size: 30px;
    }

    /* Nav */
    .navbar-nav{
    text-align: left;
    }

    .dropdown-menu{
    text-align: left;
    }
    
    /* SubHome */
    .services-container-text{
    min-height: 60vh;
    }

    .services-container-text h1{
    font-size: 27px;
    }
    
    .service-box{
    text-align: center;
    }

    /* About Page */
    .about-container{
    display: flex;
    text-align: center;
    max-height: 100vh;
    width: 100%;
    background-image: url(./images/ncat4.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    align-items: center;
    margin: 0;
    padding: 0;
    }

    .about-container-text{
    background-color: rgba(0,0,0,0.6);
    width: 90%;
    max-height: 100vh;
    }

    .about-container-text h1{
    font-size: 40px;
    color: white;
    }

    .about-container-text p{
    font-size: 25px;
    color: white;
    }

    /* Carousel */
    .img-container{
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 55vh;
    max-width: 100%;
    margin: 0;
    }

    .carousel-inner img {
    max-height: 55vh;
    width: 100%;
    object-fit: contain;
    }

    .carousel-inner {
    max-height: 55vh;
    width: 100%;
    object-fit: contain;
    margin: 0;
    }

    .image-box{
    margin: 0;
    padding: 0;
    height: 55vh;
    }

    .image-box-switch{
    margin: 0;
    padding: 0;
    height: 55vh;
    }

    .carousel-indicators{
        visibility: hidden;
        width: 100%;
        margin: auto;
    }

    .carousel-caption h5{
        font-size: 20px;
    }
    

    /* Cleaning Page */
    .cleaning-container{
    min-height: 55vh;
    background-image: url(./images/background-img9.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    }

    .cleaning-container-background{
    min-height: 55vh;
    margin: 0;
    padding: 20px;
    background-color: rgba(0,0,0,0.75);
    display: flex;
    align-items: center;
    justify-content: center;
    }

    .cleaning-container-text{
    display: flex;
    min-height: 55vh;
    align-items: center;
    background-color: transparent;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    }

    .cleaning-content-box{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(185deg, white 25%, gold 100%);
    max-height: 55vh;
    max-width: 100%;
    margin-right: auto;   
    }

    .cleaning-content-box h1{
    font-size: 40px;
    }

    .cleaning-content-box p{
    font-size: 25px;
    }

    /* Mesh Page */
    .mesh-container{
    min-height: 55vh;
    background-image: url(./images/background-img9.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    }

    .mesh-container-background{
    min-height: 55vh;
    margin: 0;
    padding: 20px;
    background-color: rgba(0,0,0,0.75);
    display: flex;
    align-items: center;
    justify-content: center;
    }

    .mesh-container-text{
    display: flex;
    min-height: 55vh;
    align-items: center;
    background-color: transparent;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    
    }

    .mesh-content-box{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(185deg, white 25%, gold 100%);
    max-height: 55vh;
    max-width: 100%;
    margin-right: auto;   
    margin-left: 0px;
    }

    .mesh-content-box h1{
    font-size: 40px;
    }

    .mesh-content-box p{
    font-size: 25px;
    }

    /* Uggs Page */
    .uggs-container{
    min-height: 55vh;
    background-image: url(./images/background-img9.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    }

    .uggs-container-background{
    min-height: 55vh;
    margin: 0;
    padding: 20px;
    background-color: rgba(0,0,0,0.75);
    display: flex;
    align-items: center;
    justify-content: center;
    }

    .uggs-container-text{
    display: flex;    
    min-height: 55vh;
    align-items: center;
    background-color: transparent;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    }

    .uggs-content-box{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(185deg, white 25%, gold 100%);
    max-height: 55vh;
    max-width: 100%;
    margin-right: auto;   
    }

    .uggs-content-box h1{
    font-size: 40px;
    }

    .uggs-content-box p{
    font-size: 25px;
    }

    /* Ice Page */
    .ice-container{
    min-height: 55vh;
    background-image: url(./images/background-img9.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    }

    .ice-container-background{
    min-height: 55vh;
    margin: 0;
    padding: 20px;
    background-color: rgba(0,0,0,0.75);
    display: flex;
    align-items: center;
    justify-content: center;
    }

    .ice-container-text{
    display: flex;
    min-height: 55vh;
    align-items: center;
    background-color: transparent;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    }

    .ice-content-box{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(185deg, white 25%, gold 100%);
    max-height: 55vh;
    max-width: 100%;
    margin-right: auto; 
    margin-left: 0px;  
    }

    .ice-content-box h1{
    font-size: 40px;
    }

    .ice-content-box p{
    font-size: 25px;
    }

    /* Glue Page */
    .glue-container{
    min-height: 55vh;
    background-image: url(./images/background-img9.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    }

    .glue-container-background{
    min-height: 55vh;
    margin: 0;
    padding: 20px;
    background-color: rgba(0,0,0,0.75);
    display: flex;
    align-items: center;
    justify-content: center;
    }

    .glue-container-text{
    display: flex;
    min-height: 55vh;
    align-items: center;
    background-color: transparent;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    }

    .glue-content-box{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(185deg, white 25%, gold 100%);
    max-height: 55vh;
    max-width: 100%;
    margin-right: auto;   
    }

    .glue-content-box h1{
    font-size: 40px;
    }

    .glue-content-box p{
    font-size: 25px;
    }

    /* Customz Page */
    .customization-container{
    min-height: 58vh;
    background-image: url(./images/background-img9.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    }

    .customization-container-background{
    min-height: 58vh;
    margin: 0;
    padding: 20px;
    background-color: rgba(0,0,0,0.75);
    display: flex;
    align-items: center;
    justify-content: center;
    }

    .customization-container-text{
    display: flex;
    min-height: 58vh;
    align-items: center;
    background-color: transparent;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    }

    .customization-content-box{
    display: flex;
    text-align: center;
    align-items: flex-start;
    justify-content: center;
    background-image: linear-gradient(185deg, white 25%, gold 100%);
    max-height: 58vh;
    max-width: 100%;
    margin-right: auto;   
    margin-left: 0px;
    }

    .customization-content-box h1{
    font-size: 40px;
    }

    .customization-content-box p{
    font-size: 17px;
    }

    form{
    max-height: 58vh;
    position: relative;
    top: 110px;
    }
    
    .title{
    position: absolute;
    }

    label{
        font-size: 15px;
    }
    .form-group{
        margin-bottom: 5px;
    }

    /* Contact Page */
    .contact-container{
    display: flex;
    text-align: center;
    min-height: 60vh;
    width: 100%;
    background-image: url(./images/atlanta-background-3.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    align-items: center;
    margin: 0;
    }

    .contact-container-text{
    background-color: rgba(0,0,0,0.8);
    height: 80vh;
    width: 100vh;
    }

    .contact-container-text h1{
    font-size: 60px;
    color: white;
    }

    .contact-form{
    top: 10px;
    min-height: 15vh;
    }

    #contact-form-text{
    height: 20vh;
    width: 80vh;
    margin: 0 auto;
    background-color: transparent;
    color: white;
    }

    .contact-btn{
    margin-top: 15px;
    }

    .contact-container-text h2{
    font-size: 27px;
    color: white;
    margin-top: 35px;
    margin-bottom: 60px;
    }

    .instagram-box{
    height: 10vh;
    }

    .instagram-item{
    display: flex;
    height: 10vh;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    }

    .instagram-item a{
    color: red;
    text-decoration: none;
    font-size: 17px;
    }


    
}

/* Small Devices */
@media (min-width: 200px) and (max-width: 874px) {

    /* Home */
    .home-container-text h1 {
    font-size: 60px;
    }

    .home-container-text h2{
    font-size: 28px;
    }

    /* Nav */
    .navbar-nav{
    text-align: left;
    }

    .dropdown-menu{
    text-align: left;
    }
    
    /* SubHome */
    .services-container-text{
    min-height: 70vh;
    }

    .services-container-text h1{
    font-size: 27px;
    }
    
    .service-box{
    text-align: center;
    }

    /* About Page */
    .about-container{
    display: flex;
    text-align: center;
    min-height: 80vh;
    width: 100%;
    background-image: url(./images/ncat4.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    align-items: center;
    margin: 0;
    padding: 0;
    }

    .about-container-text{
    background-color: rgba(0,0,0,0.6);
    width: 90%;
    max-height: 100vh;
    }

    .about-container-text h1{
    font-size: 40px;
    color: white;
    }

    .about-container-text p{
    font-size: 17px;
    color: white;
    }

    /* Carousel */
    .img-container{
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 55vh;
    max-width: 100%;
    margin: 0;
    }

    .carousel-inner img {
    max-height: 55vh;
    width: 100%;
    object-fit: contain;
    }

    .carousel-inner {
    max-height: 55vh;
    width: 85%;
    object-fit: contain;
    margin: 0;
    }

    .image-box{
    margin: 0;
    padding: 0;
    height: 55vh;
    }

    .image-box-switch{
    margin: 0;
    padding: 0;
    height: 55vh;
    }

    .carousel-indicators{
        visibility: hidden;
        width: 100%;
        margin: auto;
    }

    .carousel-caption h5{
        font-size: 20px;
    }
    .carousel-caption p{
        font-size: 10px;
    }

    /* Cleaning Page */
    .cleaning-content-box{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(185deg, white 25%, gold 100%);
    max-height: 46vh;
    max-width: 100%;
    margin: auto;
    }

    .cleaning-content-box h1{
    font-size: 40px;
    }

    .cleaning-content-box p{
    font-size: 25px;
    }
    /* Suede Mesh Page */
    .mesh-content-box{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: white;
    max-height: 46vh;
    max-width: 100%;
    margin: 0;
    }

    .mesh-content-box h1{
    font-size: 40px;
    }

    .mesh-content-box p{
    font-size: 25px;
    }

    /* Ugg Page */
    .uggs-content-box{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(185deg, white 25%, gold 100%);
    max-height: 46vh;
    max-width: 100%;
    margin: auto;
    }

    .uggs-content-box h1{
    font-size: 40px;
    }

    .uggs-content-box p{
    font-size: 25px;
    }
    /* Ice Page */
    .ice-content-box{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(185deg, white 25%, gold 100%);
    max-height: 46vh;
    max-width: 100%;
    margin: 0;
    }

    .ice-content-box h1{
    font-size: 40px;
    }

    .ice-content-box p{
    font-size: 25px;
    }

    /* Glue Page */
    .glue-content-box{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(185deg, white 25%, gold 100%);
    max-height: 46vh;
    max-width: 100%;
    margin: auto;
    }

    .glue-content-box h1{
    font-size: 40px;
    }

    .glue-content-box p{
    font-size: 25px;
    }
    /* Customz Page */
    .customization-content-box{
    display: flex;
    text-align: center;
    align-items: flex-start;
    justify-content: center;
    background-image: linear-gradient(185deg, white 25%, gold 100%);
    min-height: 90vh;
    max-width: 100%;
    margin: 0;
    justify-content: space-evenly;
    }

    .customization-content-box h1{
    font-size: 40px;
    }

    .customization-content-box p{
    font-size: 23px;
    }

    form{
    min-height: 100vh;
    position: relative;
    top: 140px;
    }
    
    .title{
    position: absolute;
    }

    .custom-btn{
        position: relative;
        bottom: 111px
    }

    /* Contact Page */
    .contact-container{
    display: flex;
    text-align: center;
    min-height: 100vh;
    width: 100%;
    background-image: url(./images/atlanta-background-3.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    align-items: center;
    margin: 0;
    }

    .contact-container-text{
    background-color: rgba(0,0,0,0.8);
    min-height: 70vh;
    width: 50vh;
    }

    .contact-container-text h1{
    font-size: 60px;
    color: white;
    }

    .contact-form{
    min-height: 15vh;
    }

    #contact-form-text{
    height: 20vh;
    width: 45vh;
    margin: 0 auto;
    background-color: transparent;
    color: white;
    }

    .contact-btn{
    margin-top: 15px;
    }

    .contact-container-text h2{
    font-size: 27px;
    color: white;
    margin-top: 35px;
    margin-bottom: 50px;
    }

    .instagram-box{
    height: 10vh;
    }

    .instagram-item{
    display: flex;
    height: 6vh;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    }

    .instagram-item a{
    color: red;
    text-decoration: none;
    font-size: 17px;
    }
}
